<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Side Navigation Bar</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<style>
  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }

  body {
    background-color: #f3f5f9;
  }

  .wrapper {
    display: flex;
    position: relative;
  }

  .wrapper .sidebar {
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0px;
    position: fixed;
  }

  .wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }

  .wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }

  .wrapper .sidebar ul li a {
    color: #bdb8d7;
    display: block;
  }

  .wrapper .sidebar ul li a .fas {
    width: 25px;
  }

  .wrapper .sidebar ul li:hover {
    background-color: #594f8d;
  }

  .wrapper .sidebar ul li:hover a {
    color: #fff;
  }

  .wrapper .sidebar .social_media {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  .wrapper .sidebar .social_media a {
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .wrapper .main_content {
    width: 100%;
    margin-left: 200px;
  }

  .wrapper .main_content .header {
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
  }

  .wrapper .main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
  }

  .wrapper .main_content .info div {
    margin-bottom: 20px;
  }

  table,
  th,
  td {
    border: 1px solid black;
  }

  table.center {
    margin-left: auto;
    margin-right: auto;
  }

  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
</style>

<body>

  <div class="wrapper">
    <div class="sidebar">
      <h2>EDU HUB</h2>
      <ul>
        <li><a href="/userhome"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="/userprofile"><i class="fas fa-user"></i>Profile</a></li>
        <li><a href="/userbooks"><i class="fas fa-book"></i>Ebooks</a></li>
        <li><a href="/useriq"><i class="fas fa-question"></i>Interview Questions</a></li>
        <li><a href="/userregbooks"><i class="fas fa-book"></i>Regulation Books</a></li>
        <li><a href="/usercompilers"><i class="fas fa-desktop"></i>Compilers</a></li>
        <li><a href="/usertimetable"><i class="fas fa-clock"></i>Time Table</a></li>
        <li><a href="/usersoftware"><i class="fas fa-store"></i>SoftWare Tools</a></li>
        <li><a href="/userforums"><i class="fas fa-blog"></i>Forums</a></li>
        <li><a href="/userquiz"><i class="fas fa-quiz"></i>Quiz</a></li>
        <li><a href="/usersuggestions"><i class="fas fa-lightbulb"></i>Suggestions</a></li>
      </ul>

    </div>
    <div class="main_content">
      <div class="header">
        <h1>EDUCATIONAL HUB TIME TABLE</h1>
      </div>
      </h1>
      <div class="info">
        <form action="/addtask" method="post">
          <input type="text" name="event" placeholder="Event">
          <input type="date" name="date" placeholder="Date">
          <input type="time" name="time" placeholder="Time">
          <button>Add Task</button>
        </form>
        <div style="height: 150px;;"></div>
        <div>
          <% if(docs.length==0) { %>
            <h1 style="color: #594f8d;">NO EVENTS FOUND</h1>
            <% } %>
              <% if(docs.length> 0) { %>
                <table class="center" style="margin-top: 150px;">
                  <tr>
                    <th>Event</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Edit Task</th>
                    <th>Delete Task</th>
                  </tr>
                  <% for(var i=0; i < docs.length; i++) { %>
                    <tr>
                      <td>
                        <%= docs[i].event %>
                      </td>
                      <td>
                        <%= docs[i].date %>
                      </td>
                      <td>
                        <%= docs[i].time %>
                      </td>
                      <td>
                        <button onclick="editPopup()">Edit Task</button>
                      </td>
                      <td>
                        <form action="/deletetask" method="post">
                          <button name="delete" value="<%=docs[i].event %>,<%=docs[i].date %>,<%=docs[i].time %>">Delete
                            Task</button>
                      </td>
                      </form>
                    </tr>
                    <div class="form-popup" id="myForm" style="margin-right: 640px;margin-bottom: 600px;">
                      <form action="/editTask" class="form-container" method="post">
                        <div class="container">
                          <div>
                            <input type="text" name="event" value="<%= docs[i].event %>">
                            <input type="date" name="date" value="<%= docs[i].date %>">
                            <input type="time" name="time" value="<%= docs[i].time %>">
                          </div>
                          <button type="submit" class="btn" style="margin-left: 160px;"
                            value="<%= docs[i].event %>,<%= docs[i].date %>,<%= docs[i].time %>" name="edit">Edit
                            Task</button><br>
                          <button type="button" class="btn cancel" onclick="closeForm()"
                            style="margin-left: 170px;">Close</button>
                        </div>
                      </form>
                    </div>
                    <% } %>
                </table>
                <% } %>

        </div>
      </div>

    </div>
  </div>
  </div>
  <script>
    function editPopup() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>
</body>

</html>